@charset "utf-8";

@font-face {
  font-family: 'MetalLordRegular';
  src: url('/fonts/metal_lord-webfont.eot');
  src:
    url('/fonts/metal_lord-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/metal_lord-webfont.woff') format('woff'),
    url('/fonts/metal_lord-webfont.ttf') format('truetype'),
    url('/fonts/metal_lord-webfont.svg#MetalLordRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  min-width: 960px;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial;
}

html {
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  padding: 0 10px;
}

iframe {
  width: 100%;
  border: none;
}

div.notes iframe {
  height: 506px;
}

div.left.column.notes iframe {
  height: 309px;
}

audio {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 960px;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  color: #f00;
}

a:active {
  color: #ff0;
}

header {
  margin-top: 30px;
  margin-bottom: 10px;
}

header a:link,
header a:visited {
  font: normal 35.38999px 'MetalLordRegular';
  color: #f00;
  text-decoration: none;
}

header h1 {
  margin: 0;
}

header img {
  vertical-align: middle;
  height: 1.2em;
}

nav {
  margin-bottom: 30px;
  text-align: justify;
}

nav a:link,
nav a:visited {
  font: normal 30px 'MetalLordRegular';
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #f00;
}

nav a:active {
  color: #ff0;
}

nav>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav>ul>li {
  display: inline;
}

nav>ul>li:last-child:after {
  content: '';
  display: inline-block;
  visibility: hidden;
  width: 100%;
}

footer {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

footer img {
  vertical-align: middle;
  height: 1.2em;
}

.row {
  display: flex;
  margin-bottom: 30px;
}

.column {
  float: left;
}

.left {
  width: calc(100% / 3 * 2 - 30px);
}

.right {
  width: calc(100% / 3);
  margin-left: 30px;
}

.right.column {
  text-align: justify;
}

ul.links {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.links li {
  display: inline;
  margin: 0;
  padding: 0;
}

ul.links li a,
a.icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  border-radius: 1px;
}

ul.links li:last-child:after {
  content: '';
  display: inline-block;
  visibility: hidden;
  width: 100%;
}

div.thumbnails {
  margin-bottom: -30px;
}

div.thumbnails>a>img {
  margin-bottom: 30px;
  width: 100%;
}

ul.links>li:nth-child(odd)>a,
div.notes div:nth-child(even),
div.photos img:nth-child(even),
div.thumbnails>a:nth-child(odd)>img {
  transform: rotate(1deg);
}

ul.links>li:nth-child(even)>a,
div.notes div:nth-child(odd),
div.photos img:nth-child(odd),
div.thumbnails>a:nth-child(even)>img {
  transform: rotate(-1deg);
}

ul.links li img,
a.icon img {
  filter: invert(1);
  width: 50%;
  vertical-align: middle;
  margin: auto;
}

.icons {
  text-align: right;
  margin: 0 !important;
  padding: 0 !important;
}

div.notes>div {
  background-color: #ffc;
  color: #000;
  padding: 30px;
  margin-bottom: 30px;
}

div.notes>div>a {
  color: #000;
  text-decoration: none;
}

div.notes>div>p>a:link,
div.notes>div>p>a:visited {
  color: #000;
  text-decoration: underline;
  font-weight: bold;
}

div.notes>div>p>a:hover {
  color: #f00;
}

div.notes>div>p>a:active {
  color: #ff0;
}

div.notes>div h2 {
  margin-top: 0;
}

div.notes>div>ol {
  margin-bottom: 0;
  list-style-position: inside;
  padding: 0;
}

div.notes>div>*:last-child {
  margin-bottom: 0;
}

div.notes>div:last-child {
  margin-bottom: 0 !important;
}

div.photos {
  text-align: justify;
  margin-bottom: -30px;
}

div.photos a {
  text-decoration: none;
}

div.photos img {
  height: 200px;
  margin: 0 30px 30px 0;
}

div.pagination {
  margin: 30px auto;
  text-align: center;
}

div.pagination a {
  margin: 0 15px;
}

input, textarea {
  font-size: 1.2em;
  border: 1px solid gray;
  width: 100% !important;
  padding: 5px;
  margin: 0;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

form>* {
  margin-bottom: 10px;
}

form>*:last-child {
  margin-bottom: 0 !important;
}